.text {
    color: #980000;
    font-family: "Electrolize",sans-serif;
    width:100%;
    height:100%;
}
#table1 {
    padding: 5px;
    width:100%;
    height:100%;
}
#textbox1 {
    border: 2px;
}
#textbox2 {
    border: 2px;
}
